body{
  padding: 0;
  margin: 0;
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background: linear-gradient(to bottom, #bacdfe, #fdfdfe)
}

.chart-music{
  display: grid;
  padding-bottom: 50px;

}

.img-canva{
  width: 350px;
  margin-bottom: -0.5px;
}