body{
  padding: 0;
  margin: 0;
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background: linear-gradient(to bottom, rgb(68, 111, 219), #fdfdfe)
}

.chart-music{
  display: grid;
}

.img-canva{
  width: 350px;
  margin-bottom: -4px;
}